{% render 'partials/head.liquid' %}

    {% comment %} task/1 ==> /task/:id (request.params.id: 1) {% endcomment %}

<ul>    
    <li><a href="/task/1">rouwtaak 1</a></li>
    <li><a href="/task/2">rouwtaak 2</a></li>
    <li><a href="/task/3">rouwtaak 3</a></li>
    <li><a href="/task/4">rouwtaak 4</a></li>
</ul>

{% render 'partials/foot.liquid' %}