            <img src="../assets/{{ task.theme }}.png" height="215" width="214" alt="">
                <a class="btn" href="/community-drops/{{excercise.id}}"><img src="../assets/community-drops.png" height="15" width="36" alt="">{{ messagesLength }} community drops</a>
